@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto Condensed", sans-serif;
}

body {
  font-family: "Inter", "Roboto Condensed", sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
